html, body, div, img, span, h1, h2, h3, h4, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  font-weight: normal;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

li {list-style-position: inside;}

body {
  font-family: 'Open Sans Condensed', 'sans-serif';
  background-color: steelblue;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', 'sans-serif' !important;
}

.clear {clear:both;}

#wrapper {
  margin:65px auto 50px auto;
  width: 85%;
  background-color:white;
  padding:2% 3%;
}

#nav-logo {
  vertical-align: middle;
}


.feed-message {
  position: relative;

}

.message-picture {
  position: absolute;
  top: 10px;
  right: 10px;
}
