<div id="message-modal" class="reveal-modal" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <h2>Send New Message</h2>
  <%= form_for [current_user, @message] do |f| %>
    <div><input type="text" name="message[recipient_id]" id="recipient-input"></div>
    <div><%= f.text_area :text, placeholder: 'What do you have to say?', rows: 5 %></div>
    <div><%= f.file_field :picture %></div>
    <div><%= f.submit 'Send Message', class: 'button tiny' %></div>
  <% end %>

</div>

